-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: fieles_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
REPLACE INTO `usuarios` VALUES (1,'Administrador Principal','1111111111','3000000000','admin','$2y$10$aU8RIDDfKJwrFyT7bDdWZ.jn6tqJCjywSuht7J7wvJHp.KWz5xa/K',1,'ADM-INIT-001',0,NULL,'2026-08-23 18:23:08'),(34,'Administrador de Encuestas','99999999','3000000000','adminencuestas','$2y$10$aU8RIDDfKJwrFyT7bDdWZ.jn6tqJCjywSuht7J7wvJHp.KWz5xa/K',3,'AENC01',0,NULL,'2026-08-23 19:39:30'),(35,'Encuestadora Mar├¡a G├│mez','88888888','3111111111','encuestadora1','$2y$10$aU8RIDDfKJwrFyT7bDdWZ.jn6tqJCjywSuht7J7wvJHp.KWz5xa/K',4,'ENC01',0,NULL,'2026-08-23 19:39:30'),(36,'Laura Patarroyo','88888802','3125678901','encuestadora2','$2y$10$aU8RIDDfKJwrFyT7bDdWZ.jn6tqJCjywSuht7J7wvJHp.KWz5xa/K',4,'ENC02',0,NULL,'2026-08-23 19:52:59'),(37,'Diana Carolina Ortiz','88888803','3136789012','encuestadora3','$2y$10$aU8RIDDfKJwrFyT7bDdWZ.jn6tqJCjywSuht7J7wvJHp.KWz5xa/K',4,'ENC03',0,NULL,'2026-08-23 19:52:59'),(38,'Paola Andrea Ben├¡tez','88888804','3147890123','encuestadora4','$2y$10$aU8RIDDfKJwrFyT7bDdWZ.jn6tqJCjywSuht7J7wvJHp.KWz5xa/K',4,'ENC04',0,NULL,'2026-08-23 19:53:00'),(39,'Andrea del Pilar Vargas','88888805','3158901234','encuestadora5','$2y$10$aU8RIDDfKJwrFyT7bDdWZ.jn6tqJCjywSuht7J7wvJHp.KWz5xa/K',4,'ENC05',0,NULL,'2026-08-23 19:53:00'),(40,'Marcela Torres','88888806','3169012345','encuestadora6','$2y$10$aU8RIDDfKJwrFyT7bDdWZ.jn6tqJCjywSuht7J7wvJHp.KWz5xa/K',4,'ENC06',0,NULL,'2026-08-23 19:53:00'),(41,'Jessica Fernanda Ruiz','88888807','3170123456','encuestadora7','$2y$10$aU8RIDDfKJwrFyT7bDdWZ.jn6tqJCjywSuht7J7wvJHp.KWz5xa/K',4,'ENC07',0,NULL,'2026-08-23 19:53:00'),(42,'Natalia Sof├¡a Mart├¡nez','88888808','3181234567','encuestadora8','$2y$10$aU8RIDDfKJwrFyT7bDdWZ.jn6tqJCjywSuht7J7wvJHp.KWz5xa/K',4,'ENC08',0,NULL,'2026-08-23 19:53:00'),(43,'Camila Alejandra Castillo','88888809','3192345678','encuestadora9','$2y$10$aU8RIDDfKJwrFyT7bDdWZ.jn6tqJCjywSuht7J7wvJHp.KWz5xa/K',4,'ENC09',0,NULL,'2026-08-23 19:53:00'),(44,'Daniela Fernanda Morales','888888010','3203456789','encuestadora10','$2y$10$aU8RIDDfKJwrFyT7bDdWZ.jn6tqJCjywSuht7J7wvJHp.KWz5xa/K',4,'ENC10',0,NULL,'2026-08-23 19:53:01'),(48,'Yefferson Mantilla Lozano','1118539661','3005717538','yefferson','$2y$10$aU8RIDDfKJwrFyT7bDdWZ.jn6tqJCjywSuht7J7wvJHp.KWz5xa/K',2,'LID-11185396',0,NULL,'2026-08-29 06:49:36'),(49,'Jefe Supremo','','','jefe','$2y$10$YLtfhrOKgA.u.SU.wngavuLxo/JP829pcU9kSR7hOWqwxQ.8t0b2m',1,'',0,NULL,'2026-08-30 23:51:21');
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-31 18:27:22
