-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: fieles_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `candidatos_encuestas`
--

DROP TABLE IF EXISTS `candidatos_encuestas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `candidatos_encuestas` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(150) NOT NULL,
  `grupo` varchar(150) DEFAULT NULL,
  `activo` tinyint(4) DEFAULT 1,
  `creado_en` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `candidatos_encuestas`
--

LOCK TABLES `candidatos_encuestas` WRITE;
/*!40000 ALTER TABLE `candidatos_encuestas` DISABLE KEYS */;
INSERT INTO `candidatos_encuestas` VALUES (1,'Candidato A',NULL,1,'2026-08-24 00:43:29'),(2,'Candidato B',NULL,1,'2026-08-24 00:43:29'),(3,'Candidato C',NULL,1,'2026-08-24 00:43:29'),(4,'Candidato D',NULL,1,'2026-08-24 00:43:29'),(5,'Indeciso / Voto en Blanco / Ninguno',NULL,1,'2026-08-24 00:43:29');
/*!40000 ALTER TABLE `candidatos_encuestas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `configuracion_encuestas`
--

DROP TABLE IF EXISTS `configuracion_encuestas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `configuracion_encuestas` (
  `id` int(11) NOT NULL DEFAULT 1,
  `dias_reencuesta` int(11) NOT NULL DEFAULT 15,
  `url_consulta_externa` text DEFAULT NULL,
  `actualizado_en` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `configuracion_encuestas`
--

LOCK TABLES `configuracion_encuestas` WRITE;
/*!40000 ALTER TABLE `configuracion_encuestas` DISABLE KEYS */;
INSERT INTO `configuracion_encuestas` VALUES (1,15,'https://consultacenso.registraduria.gov.co/','2026-08-28 03:41:23');
/*!40000 ALTER TABLE `configuracion_encuestas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `preguntas_encuestas`
--

DROP TABLE IF EXISTS `preguntas_encuestas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `preguntas_encuestas` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `pregunta` varchar(255) NOT NULL,
  `tipo` enum('opcion_multiple','texto_libre') DEFAULT 'opcion_multiple',
  `opciones` text DEFAULT NULL,
  `activo` tinyint(4) DEFAULT 1,
  `creado_en` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `preguntas_encuestas`
--

LOCK TABLES `preguntas_encuestas` WRITE;
/*!40000 ALTER TABLE `preguntas_encuestas` DISABLE KEYS */;
/*!40000 ALTER TABLE `preguntas_encuestas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `referidos`
--

DROP TABLE IF EXISTS `referidos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `referidos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `cedula` varchar(20) NOT NULL,
  `nombres` varchar(100) NOT NULL,
  `apellidos` varchar(100) NOT NULL,
  `correo` varchar(120) NOT NULL,
  `celular` varchar(20) NOT NULL,
  `comuna` varchar(80) NOT NULL DEFAULT 'Comuna 1',
  `votante_yopal` varchar(50) NOT NULL DEFAULT 'Si',
  `departamento` varchar(100) DEFAULT NULL,
  `municipio` varchar(100) DEFAULT NULL,
  `puesto_votacion` varchar(150) DEFAULT NULL,
  `direccion_votacion` varchar(200) DEFAULT NULL,
  `mesa_votacion` varchar(50) DEFAULT NULL,
  `referido_por_tipo` enum('usuario','referido') NOT NULL,
  `referido_por_id` int(11) NOT NULL,
  `lider_raiz_id` int(11) NOT NULL,
  `usuario_id` int(11) DEFAULT NULL,
  `autorizacion_datos` tinyint(1) NOT NULL DEFAULT 1,
  `ip_registro` varchar(45) DEFAULT NULL,
  `hash_dispositivo` varchar(64) DEFAULT NULL,
  `codigo_referido` varchar(30) NOT NULL,
  `creado_en` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `cedula` (`cedula`),
  UNIQUE KEY `codigo_referido` (`codigo_referido`),
  KEY `usuario_id` (`usuario_id`),
  KEY `lider_raiz_id` (`lider_raiz_id`),
  CONSTRAINT `referidos_ibfk_1` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`) ON DELETE SET NULL,
  CONSTRAINT `referidos_ibfk_2` FOREIGN KEY (`lider_raiz_id`) REFERENCES `usuarios` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6693 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `referidos`
--

LOCK TABLES `referidos` WRITE;
/*!40000 ALTER TABLE `referidos` DISABLE KEYS */;
/*!40000 ALTER TABLE `referidos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `respuestas_encuestas`
--

DROP TABLE IF EXISTS `respuestas_encuestas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `respuestas_encuestas` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `referido_id` int(11) NOT NULL,
  `ronda_id` int(11) NOT NULL DEFAULT 1,
  `encuestadora_id` int(11) NOT NULL,
  `candidato_elegido` varchar(100) NOT NULL,
  `votante_yopal_respuesta` enum('Si','Quiero inscribir','No') NOT NULL,
  `puesto_votacion` varchar(150) DEFAULT NULL,
  `mesa_votacion` varchar(50) DEFAULT NULL,
  `observaciones` text DEFAULT NULL,
  `creado_en` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `referido_id` (`referido_id`),
  KEY `encuestadora_id` (`encuestadora_id`),
  CONSTRAINT `respuestas_encuestas_ibfk_1` FOREIGN KEY (`referido_id`) REFERENCES `referidos` (`id`) ON DELETE CASCADE,
  CONSTRAINT `respuestas_encuestas_ibfk_2` FOREIGN KEY (`encuestadora_id`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `respuestas_encuestas`
--

LOCK TABLES `respuestas_encuestas` WRITE;
/*!40000 ALTER TABLE `respuestas_encuestas` DISABLE KEYS */;
INSERT INTO `respuestas_encuestas` VALUES (1,1,1,35,'Indeciso / Voto en Blanco / Ninguno','Si','IE EL PARAISO','20','','2026-08-28 20:01:14'),(2,3389,1,35,'No Contest├│ / Sin Respuesta','Si','IE BRAULIO GONZALEZ SD CENTRO','19','','2026-08-28 20:01:26');
/*!40000 ALTER TABLE `respuestas_encuestas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `roles` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'Admin'),(3,'AdminEncuestas'),(4,'Encuestadora'),(2,'Lider');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rondas_encuestas`
--

DROP TABLE IF EXISTS `rondas_encuestas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rondas_encuestas` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `numero_ronda` int(11) NOT NULL,
  `nombre_ronda` varchar(150) DEFAULT NULL,
  `creado_por` int(11) NOT NULL,
  `creado_en` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rondas_encuestas`
--

LOCK TABLES `rondas_encuestas` WRITE;
/*!40000 ALTER TABLE `rondas_encuestas` DISABLE KEYS */;
INSERT INTO `rondas_encuestas` VALUES (1,1,'Ronda Inicial #1',1,'2026-08-27 21:59:13');
/*!40000 ALTER TABLE `rondas_encuestas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuarios` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre_completo` varchar(150) NOT NULL,
  `cedula` varchar(20) NOT NULL,
  `telefono` varchar(20) NOT NULL,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role_id` int(11) NOT NULL,
  `codigo_referido` varchar(30) NOT NULL,
  `intentos_fallidos` int(11) DEFAULT 0,
  `bloqueado_hasta` datetime DEFAULT NULL,
  `creado_en` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `cedula` (`cedula`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `codigo_referido` (`codigo_referido`),
  KEY `role_id` (`role_id`),
  CONSTRAINT `usuarios_ibfk_1` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=49 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-29  6:49:57
